@use "./variables";

footer {
    background-color: variables.$secondary;
    text-align: center;
    p {
        color: variables.$primary;
        margin: 0;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}