@use "./variables";

header {
    height: 100vh;
    background-color: variables.$primary;
}

.header {
    margin-top: 200px;
}

h1 {
    height: inherit;
}

.myName {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

 .headerBottomBox {
    display: flex;
    justify-content: flex-end;
 }