// Section 1 : About styling
.about {
    height: 100vh;
}

.aboutContainer {
    display: flex;

}

.imgContainer {
    width: 40%;
}

.textContainer {
    width: 60%;
    p {
        margin: 24px 24px;
    }
    .pTop {
        margin-top: 0;
    }
}

.iconContainer {
    display: flex;
    justify-content: space-evenly;
    
    i {
        font-size: 3rem;
    }
}

// Section 2 : Skills styling
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    li {
        width: 25%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;

    }
    i {
        font-size: 6rem;
    }
}

.skills {
    margin-bottom: 200px;
}
