@use "./variables";

ul, li, a {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.navLogo, .navLink {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.navLink {
    border: 2px solid transparent;
    padding: 12px 16px;
    transition: 0.7s ease;
    &:hover {
        border: 2px solid variables.$secondary;
    }
}

.contactLink {
    background-color: variables.$secondary;
    color: variables.$primary;
    &:hover {
        background-color: variables.$primary;
        color: variables.$secondary;
    }
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: variables.$secondary;
}