@use "./variables";

ul, li, a {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}