/* site fonts */
$keyFont: "Oswald", "sans-serif";
$bodyFont: "Cabin", "sans-serif";

/* site colours */
$primary: #FFFCEB;
$secondary: #1A1A1A;
$tertiary: #D1DBC2;
$quaternary: #D8B8A9;
// $quinary: #227284;