/* site fonts */
$keyFont: "Oswald", "sans-serif";
$bodyFont: "Cabin", "sans-serif";

/* site colours */
$primary: #FFFCEB;
$secondary: #1A1A1A;
$tertiary: #C5C3B6;
// $quaternary: #68b0c1;
// $quinary: #227284;