/* site fonts */
$keyFont: "PT Sans", "sans-serif";
$bodyFont: "Inconsolata", "monospace";

/* site colours */
$primary: #FFFCEB;
$secondary: #1A1A1A;
$tertiary: #D1DBC2;
$quaternary: #E9967A;
// $quinary: #227284;