* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/* site fonts */
/* site colours */
html {
  font-size: 125%;
}

body p {
  font-family: "Inconsolata", "monospace";
  font-size: 1rem;
  color: #1A1A1A;
  line-height: 1.6rem;
  letter-spacing: 0;
}

h1, h2, h3, h4 {
  font-family: "PT Sans", "sans-serif";
  color: #1A1A1A;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 0;
}

a {
  font-family: "Inconsolata", "monospace";
  font-weight: 700;
  font-size: 1rem;
  color: #1A1A1A;
  line-height: 1.6rem;
  letter-spacing: 0;
}

h1 {
  font-size: 10rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5rem;
  margin-bottom: 50px;
}

h4 {
  font-size: 1.5rem;
}

.wrapper {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

ul, li, a {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.navLogo, .navLink {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navLink {
  border: 2px solid transparent;
  padding: 12px 16px;
}
.navLink:hover {
  border: 2px solid #1A1A1A;
}

.contactLink {
  background-color: #1A1A1A;
  color: #FFFCEB;
}
.contactLink:hover {
  background-color: #FFFCEB;
  color: #1A1A1A;
}

.navbar {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

header {
  height: 100vh;
  background-color: #D1DBC2;
}

.header {
  margin-top: 200px;
}

h1 {
  height: inherit;
}

.myName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.headerBottomBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about {
  background-color: #D1DBC2;
  padding-top: 100px;
  padding-bottom: 200px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgContainer {
  width: 40%;
}

.textContainer {
  width: 60%;
}
.textContainer p {
  margin: 24px 24px;
}
.textContainer .pTop {
  margin-top: 0;
}
.textContainer .pBottom {
  margin-bottom: 0;
}

.skills {
  background-color: #D8B8A9;
  padding-top: 100px;
  padding-bottom: 200px;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 60px;
}
.skillsContainer li {
  width: 25%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.skillsContainer i {
  font-size: 6rem;
}

.projects {
  background-color: #D1DBC2;
  padding-top: 100px;
  padding-bottom: 200px;
}

.projectBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.projectBox .mockupContainer {
  width: 50%;
}
.projectBox .mockupContainer img {
  min-height: 330px;
  min-width: 470px;
}
.projectBox .projectContentContainer {
  width: 50%;
  text-align: center;
  border: 2px solid #1A1A1A;
  border-radius: 7%;
  padding: 2%;
}
.projectBox .projectContentContainer h4, .projectBox .projectContentContainer .skillIcons, .projectBox .projectContentContainer p, .projectBox .projectContentContainer .projectLink {
  margin-bottom: 15px;
}
.projectBox .projectContentContainer .skillIcons i {
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px;
}
.projectBox .projectContentContainer .projectLink a {
  padding: 10px 30px;
  background-color: #D8B8A9;
  border: 1px solid #D8B8A9;
  border-radius: 10%;
}
.projectBox .containerOne, .projectBox .containerThree {
  margin-left: 25px;
}
.projectBox .containerTwo {
  margin-right: 25px;
}

.contact {
  background-color: #FFFCEB;
  padding-top: 100px;
  padding-bottom: 200px;
}
.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contactContainer .contactTextContainer {
  width: 45%;
}
.contact .contactContainer .contactFormContainer {
  width: 55%;
}
.contact p {
  text-align: center;
  padding-bottom: 20px;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}
.contact form .message {
  margin-bottom: 50px;
}
.contact .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact .iconContainer i {
  font-size: 3rem;
}

footer {
  background-color: #1A1A1A;
  text-align: center;
}
footer p {
  color: #FFFCEB;
}
footer p a {
  color: inherit;
  text-decoration: none;
}